<%- include("header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/" method="POST">
        <h3 class="text-center">Whats on your mind</h3>
        <div class="mb-8">
            <label for="title" class="form-control">Title:</label>
            <input type="text" name="title" class="titleform form-control"></br>
        </div>
        <div class="mb-3">
            <textarea name="blog" placeholder="tell me about it" rows="8" class="form-control"></textarea></br>
            <input type="submit" value="Post Blog" class="btn btn-primary mt-2">
        </div>
      </form>
    
      <% if (locals.blogs) { %>
        <% blogs.forEach(blog => { %>
            <div>
                <h2>
                    <%= blog.title %>
                </h2>
                <p>
                    <%= blog.blog %>
                </p>
                <a href="/delete/<%= blog.id %>">Delete</a>
            </div>
        <% }) %>
    <% } %>  
</body>
</html>
